html{
    width: 100%;
    height: 100%;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
}

body{
    background-image: url("images/background_image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    width: inherit;
    height: inherit;
    margin: 0;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: inherit;
    height: inherit;
}

.logo{
    font-size: 50px;
}

.search_container{
    margin-top: 20px;
    display: flex;
}

#search_input{
    width: 100%;
    border: 3px solid #333333;
    border-right: none;
    border-radius: 4px 0 0 4px;
    padding-left: 5px;
    outline: none;
}

#search_btn{
    background-color: #333333;
    border: 3px solid #333333;
    border-left: none;
    border-radius: 0 4px 4px 0;
    color: white;
    outline: none;
}

#search_btn:hover{
    background-color:black;
    border: 3px solid black;
    border-left: none;
}

.weather_container{
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
    width: 400px;
    height: 400px;
    border-radius: 10px;
    background-color: #CCCCCC;
    opacity: 0.75;
}

.cityname{
    font-size: 30px;
}

.error_container{
    margin-top: 5px;
    display: none;
    color: red;
    font-size: 15px;
}

@media (max-width: 420px) {

    .logo,.label,.error_container {
        text-align: center;
    }
    .weather_container{
        width: 320px; 
    }
}